<!doctype html>
<html lang="pt-br">
  <head>
    <title>Gerador de currículo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <div class="container mt-5 mb-5">

        <header>
            <h1>Gerador de curriculos online</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus blanditiis ad odit incidunt, quod aliquam impedit deserunt expedita repudiandae! Debitis deserunt delectus quasi non iusto atque, consequatur corporis vel reiciendis!</p>
        </header>

        <section>
            <form action="">

                <div class="card">
                    <div class="card-header">
                      Dados pessoais
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">

                                <div class="form-group">
                                    <label for="">Nome completo</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                    </div>
                                    <small id="helpId" class="form-text text-muted">Help text</small>
                                </div>

                            </div>
                            <div class="col-md">

                                <div class="form-group">
                                    <label for="">E-mail</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                    </div>
                                    <small id="helpId" class="form-text text-muted">Help text</small>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                
                                <div class="form-group">
                                    <label for="">Celular</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-mobile-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                    </div>
                                    <small id="helpId" class="form-text text-muted">Help text</small>
                                </div>

                            </div>
                            <div class="col-md">

                                <div class="form-group">
                                    <label for="">Endereço</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-home"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                    </div>
                                    <small id="helpId" class="form-text text-muted">Help text</small>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                
                                <div class="form-group">
                                  <label for="">Foto</label>
                                  <input type="file" class="form-control-file" name="" id="" placeholder="" aria-describedby="fileHelpId">
                                  <small id="fileHelpId" class="form-text text-muted">Help text</small>
                                </div>

                            </div>
                            <div class="col-md">

                                <div class="form-group">
                                  <label for="">Sobre você</label>
                                  <textarea class="form-control" name="" id="" rows="3"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                  </div>

                  <br>
                  <div class="card">
                      <div class="card-header">
                          Experiência profissional
                      </div>
                      <div class="card-body">
                          
                            <div class="card card-body">
                                
                                <div class="row">
                                    <div class="col-md">
                                        
                                        <div class="form-group">
                                            <label for="">Empresa</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-building"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                            </div>
                                            <small id="helpId" class="form-text text-muted">Help text</small>
                                        </div>
        
                                    </div>
                                    <div class="col-md">
        
                                        <div class="form-group">
                                            <label for="">Cargo</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-briefcase"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                            </div>
                                            <small id="helpId" class="form-text text-muted">Help text</small>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        
                                        <div class="row">
                                            <div class="col-md">
                                                
                                                <div class="form-group">
                                                    <label for="">Entrada</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="fas fa-calendar-check"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                                    </div>
                                                    <small id="helpId" class="form-text text-muted">Help text</small>
                                                </div>
                
                                            </div>
                                            <div class="col-md">
                
                                                <div class="form-group">
                                                    <label for="">Saída</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="fas fa-calendar-times"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                                    </div>
                                                    <small id="helpId" class="form-text text-muted">Help text</small>
                                                </div>
                
                                            </div>
                                        </div>
        
                                    </div>
                                    <div class="col-md">
        
                                        <div class="form-group">
                                            <label for="">Comentário</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-bookmark"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                            </div>
                                            <small id="helpId" class="form-text text-muted">Help text</small>
                                        </div>
        
                                    </div>
                                </div>
                                
                            </div>

                            <br>
                            <a name="" id="" class="btn btn-primary" href="#" role="button">
                                <i class="fas fa-plus mr-1"></i> Adicionar
                            </a>

                      </div>
                  </div>

                  <br>
                  <div class="card">
                      <div class="card-header">
                          Formação
                      </div>
                      <div class="card-body">
                          
                            <div class="card card-body">
                                
                                <div class="row">
                                    <div class="col-md">
                                        
                                        <div class="form-group">
                                            <label for="">Instituição</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-school"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                            </div>
                                            <small id="helpId" class="form-text text-muted">Help text</small>
                                        </div>
        
                                    </div>
                                    <div class="col-md">
        
                                        <div class="form-group">
                                            <label for="">Grau / Curso</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-graduation-cap"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                            </div>
                                            <small id="helpId" class="form-text text-muted">Help text</small>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        
                                        <div class="row">
                                            <div class="col-md">
                                                
                                                <div class="form-group">
                                                    <label for="">Entrada</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="fas fa-calendar-check"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                                    </div>
                                                    <small id="helpId" class="form-text text-muted">Help text</small>
                                                </div>
                
                                            </div>
                                            <div class="col-md">
                
                                                <div class="form-group">
                                                    <label for="">Saída</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <i class="fas fa-calendar-times"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                                    </div>
                                                    <small id="helpId" class="form-text text-muted">Help text</small>
                                                </div>
                
                                            </div>
                                        </div>
        
                                    </div>
                                    <div class="col-md">
        
                                        <div class="form-group">
                                            <label for="">Comentário</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-bookmark"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                            </div>
                                            <small id="helpId" class="form-text text-muted">Help text</small>
                                        </div>
        
                                    </div>
                                </div>
                                
                            </div>

                            <br>
                            <a name="" id="" class="btn btn-primary" href="#" role="button">
                                <i class="fas fa-plus mr-1"></i> Adicionar
                            </a>

                      </div>
                  </div>

                  <br>
                  <div class="card">
                      <div class="card-header">
                          Formação complementar relevante
                      </div>
                      <div class="card-body">
                          
                            <div class="card card-body">
                                
                                <div class="row">
                                    <div class="col-md">
                                        
                                        <div class="form-group">
                                            <label for="">Título</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-certificate"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                            </div>
                                            <small id="helpId" class="form-text text-muted">Help text</small>
                                        </div>
        
                                    </div>
                                    <div class="col-md">
                                        
                                        <div class="form-group">
                                            <label for="">Emissor / Órgão certificador</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-check"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                            </div>
                                            <small id="helpId" class="form-text text-muted">Help text</small>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        
                                        <div class="form-group">
                                            <label for="">Ano</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-calendar"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                            </div>
                                            <small id="helpId" class="form-text text-muted">Help text</small>
                                        </div>
        
                                    </div>
                                    <div class="col-md">
        
                                        <div class="form-group">
                                            <label for="">Carga horária</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="fas fa-clock"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                            </div>
                                            <small id="helpId" class="form-text text-muted">Help text</small>
                                        </div>
        
                                    </div>
                                </div>

                            </div>
                            
                            <br>
                            <a name="" id="" class="btn btn-primary" href="#" role="button">
                                <i class="fas fa-plus mr-1"></i> Adicionar
                            </a>

                        </div>
                    </div>
                    
            </form>
        </section>

    </div>
      
    <!-- Optional JavaScript -->
    <script src="https://kit.fontawesome.com/8e6f7a398a.js" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>